{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [
        ".js"
        ] 
      }
    ],
    "editor.codeActionsOnSave": {
        "source.fixAll": true,
        "source.organizeImports": true
    }
  }
}